{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Hello CRCIndController!{% endblock %}

{% block page_content %}
    {% if persons|length %}
        <h3>Total: {{ persons|length }}</h3>
        <dl>
            {% for person in persons %}
                <dt>{{ person.ID }}: {{ person.Name }}</dt>
                <dd><b>SSN</b> {{ person.SSN }}, <b>DOB</b> {{ person.DOB }}</dd>
            {% endfor %}
        </dl>
    {% endif %}
{% endblock %}
